<h1>Component-quiz</h1>

<div data-hull-component="login/button@hull" data-hull-provider="{{loginProviders}}"></div>

{{#if loggedIn}}
  <h4>hello {{me.name}}</h4>
  <button data-hull-action="startQuiz">Start the quiz</button>
{{else}}
  Please login
{{/if}}
